---
import Layout from "../layouts/Layout.astro";
import SponsorSection from "../components/SponsorSection.astro";
import Documents from "../components/Documents.astro";
import PelotonMeilsen from "../components/PelotonMeilsen.astro";
import RiderStats from "../components/RiderStats";
---

<Layout title="Rangschikking">
  <PelotonMeilsen />

  <div class="container mx-auto px-4">
    <div class="container mx-auto py-8 md:py-20">
      <h1 id="documenten" class="text-4xl font-bold mb-8">Rangschikking</h1>

      <div class="space-y-4">
        <p>
          De rangschikking wordt opgemaakt op basis van het aantal ritten dat je
          hebt gereden. Hoe meer ritten je rijdt, hoe hoger je in de
          rangschikking komt te staan.
        </p>

        <p>
          Mocht je denken dat er een fout in de rangschikking zit, neem dan
          contact op met iemand van het bestuur.
        </p>
      </div>

      <RiderStats client:load />
    </div>

    <Documents />
  </div>

  <SponsorSection />
</Layout>
