---
import Layout from "../layouts/Layout.astro";
import SponsorSection from "../components/SponsorSection.astro";
import Documents from "../components/Documents.astro";
import PelotonMeilsen from "../components/PelotonMeilsen.astro";
---

<Layout title="Veiligheid">
  <PelotonMeilsen />

  <div class="container mx-auto px-4">
    <section class="py-8 md:py-20 space-y-8">
      <h1 class="text-4xl font-bold mb-6">Veiligheidsprotocol</h1>

      <div class="space-y-4">
        <p>
          Alle leden dienen de wegcode te respecteren. “Wielertoeristen die in
          een groep van tenminste 15 tot ten hoogste 50 deelnemers rijden, zijn
          niet verplicht de fietspaden te volgen en zij mogen bestendig met twee
          naast elkaar op de rijbaan rijden op voorwaarde dat zij gegroepeerd
          blijven.
        </p>
        <p>
          Groepen van meer dan 50 deelnemers moeten worden vergezeld door twee
          wegkapiteins.
        </p>

        <ul class="space-y-2 list-disc pl-6">
          <li>
            Het dragen van een valhelm is <strong>verplicht</strong>!
          </li>
          <li>
            Elk lid wordt geacht in een dermate lichamelijke conditie te
            verkeren dat de voorziene sportbeoefening risicoloos kan worden
            uitgevoerd. Een jaarlijks geneeskundig onderzoek is daarom zeer
            aanbevolen.
          </li>
        </ul>
      </div>

      <div class="space-y-4">
        <h2 class="text-4xl font-bold mb-6">
          Onze ethische gedragscode op de fiets
        </h2>

        <p>
          Fietsen is een hobby die voor elke een ontspanning moet zijn. Het is
          de bedoeling om een plezier te maken voor iedereeen. We rijden als één
          peleton en zitten liever op de vélo dan achter een bureau.
        </p>
        <p>
          De club heeft een sportief karakter, maar het sociale primeert. Daarom
          zijn er geen verplichtingen en is het moto: respect ten opzichte van
          iedereen ongeacht dit een bestuurslid, een wegkapitein of een kopman
          betreft.
        </p>
        <p>
          Het elk lid van het Peloton Meilsen zal altijd volgend fietsgedrag
          aanhouden:
        </p>
        <ul class="space-y-2 list-disc pl-6">
          <li>Uit respect voor de natuur gooien we geen afval langs de weg.</li>
          <li>
            Na elke situatie (bocht, rondpunt, rood licht, …) : inhouden en met
            de groep geleidelijk op de gevraagde snelheid of belasting komen
          </li>
          <li>
            Het oversteken moet veilig gebeuren al dan niet in groep (best !) of
            groepjes of individueel, ieders op eigen verantwoordelijkheid, maar
            na de actie wordt uiteraard gewacht, tot iedereen er is, alvorens
            verder wordt gereden in groep;
          </li>
          <li>
            Na elke lastige parcours strook (heuvel, bergje, …) : inhouden en
            met de groep geleidelijk op de gevraagde snelheid of belasting
            komen. Bij grote verschillen wordt héél kort gestopt om iedereen
            sneller terug te laten aansluiten bij groep. Wegkapiteins bepalen
            hier stop & start;
          </li>
          <li>
            Na een stop of hindernis, steeds vertrekken in groep, nooit
            individueel verder rijden;
          </li>
          <li>
            Tijdens de woensdag rit is er een vrije strook waarin elk lid zijn
            eigen snelheid kan rijden. Na deze strook wordt er gewacht met de
            voet aan de grond tot het laatste lid de strook heeft afgelegd;
          </li>
          <li>Ingeval van pech wordt er steeds door de ganse groep gewacht;</li>
          <li>
            Kopmannen melden onveilige situaties en deze worden doorgezegd door
            de ganse groep zodanig ook de laatste man veilig thuis kan komen;
          </li>
          <li>
            Wie tijdens de rit beslist om ook op kop te komen fietsen, zoekt een
            partner, schuift vooraan in op de derde rij en wacht zijn beurt af.
            De wegkapitein zal aangeven hoe er ingeschoven wordt naar de
            koppositie.
          </li>
          <li>
            Als de rit richting polders gaat wordt er in 2 groepen vertrokken:
            een snellere groep vertrekt eerst gevolgd door het peloton. De
            snellere groep maakt dan een extra lus bij, zodat we met heel de
            groep samen kunnen binnenkomen.
          </li>
          <li>
            Ritten niet naar de polder worden in 1 groep gereden. De snelheid
            wordt dan aangepast naar de weersomstandigheden.
          </li>
        </ul>
      </div>
    </section>

    <Documents />
  </div>

  <SponsorSection />
</Layout>
