---
import { CalendarView } from "./CalendarView";
---

<div class="container mx-auto py-8 md:py-20">
  <div class="mb-8 md:flex md:flex-row md:justify-between md:items-center">
    <h2 id="agenda" class="text-4xl mb-4 font-bold mb:inline-block">
      Agenda
    </h2>
  </div>

  <CalendarView client:only="react" />
</div>

<!-- <div class="container mx-auto px-4 py-12">
  <h2 id="agenda" class="text-4xl font-bold mb-8">Agenda</h2>
  <div class="bg-primary-light p-6 rounded-lg">
    <iframe
      src="https://calendar.google.com/calendar/embed?src=OWJiZDZmNWZhMGIwM2FmOTI4NTZmNWYxNmRjODdjM2U1MTVjOWFkODg0ZGY3MDNhZWMyYzE2YmIzMDNkM2JiN0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t"
      style="border: 0"
      width="100%"
      height="600"
      frameborder="0"
      scrolling="no"
      class="w-full rounded-lg"></iframe>
  </div>
</div> -->
