<div class="flex justify-center p-6">
  <img
    src="/peloton-meilsen-club-2025.webp"
    alt="Peloton Meilsen Club 2025"
    class="shadow-2xl max-w-full h-auto rounded-lg"
    loading="lazy"
  />
</div>
