---
const currentYear = new Date().getFullYear();
---

<footer class="bg-primary py-8 mt-auto">
  <div class="container mx-auto px-4 text-center">
    <p>
      &copy; {currentYear} Peloton Meilsen. Alle rechten voorbehouden. Gebouwd door
      <a
        href="https://eliostruyf.com"
        class="text-accent underline decoration-dotted underline-offset-2 hover:decoration-solid"
        >Elio Struyf</a
      >.

      <a
        class="hidden"
        href="https://visitorbadge.io/status?path=https%3A%2F%2Fpelotonmeilsen.be"
      >
        <img
          src="https://api.visitorbadge.io/api/visitors?path=https%3A%2F%2Fpelotonmeilsen.be&countColor=%23263759"
        />
      </a>
    </p>
  </div>
</footer>
